@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

/*----- FONTS---------------*/
@font-face {
  font-family: 'covesbold';
  src: url("../fonts/coves_bold-webfont.woff2") format("woff2"), url("../fonts/coves_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'coveslight';
  src: url("../fonts/coves_light-webfont.woff2") format("woff2"), url("../fonts/coves_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*----- COMMON -------- */
h1 {
  text-align: center;
  font-size: 13px;
  margin-top: 15px; }
  @media only screen and (max-width: 450px) {
    h1 {
      text-align: center; } }

body {
  font-family: "coves"; }

a {
  text-decoration: none; }

main {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto; }

.black {
  color: #000; }

.white {
  color: #fff; }

.colornav {
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.5s; }

/*----- HEADER---------------*/
.home .main-nav {
  position: fixed; }

header {
  max-width: 100%; }
  header .main-nav {
    padding-top: 2%;
    width: 100%;
    z-index: 99999; }
    @media only screen and (max-width: 750px) {
      header .main-nav {
        position: inherit; } }
    header .main-nav .colornav {
      background: #fff;
      width: 100%;
      -webkit-transition: 0.3s;
      transition: 0.5s; }
      @media only screen and (max-width: 750px) {
        header .main-nav .colornav {
          display: none; } }
    header .main-nav .bar {
      width: 80px;
      background: #15D1E7;
      height: 4px;
      top: 0;
      left: 2%;
      transition: 0.5s;
      position: absolute; }
      @media only screen and (max-width: 750px) {
        header .main-nav .bar {
          display: none; } }
    header .main-nav ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none; }
      header .main-nav ul img {
        width: 90%; }
        @media only screen and (max-width: 750px) {
          header .main-nav ul img {
            width: 90%;
            padding-left: 20%; } }
        @media only screen and (max-width: 450px) {
          header .main-nav ul img {
            width: 70%;
            padding-left: 30%; } }
      header .main-nav ul .li-active {
        text-transform: uppercase; }
        @media only screen and (max-width: 750px) {
          header .main-nav ul .li-active {
            display: none; } }
  header .burger {
    display: none; }
    @media only screen and (max-width: 750px) {
      header .burger {
        display: block;
        transform: translateY(80%); } }
    header .burger .burger-slice {
      width: 35px;
      height: 3px;
      background: #15D1E7;
      border-radius: 10px;
      margin: 8px 30px 0; }
      @media only screen and (max-width: 450px) {
        header .burger .burger-slice {
          width: 28px;
          height: 2px; } }
      header .burger .burger-slice:first-child {
        margin-top: 0; }

.menu-burger ul {
  background: #fff;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 0;
  height: auto;
  z-index: 99999;
  border-bottom: 3px solid #15D1E7; }
  .menu-burger ul li {
    margin-top: 5%; }
    .menu-burger ul li:first-child {
      margin-top: 30px; }
    .menu-burger ul li a {
      color: #000;
      font-weight: bold;
      text-transform: uppercase; }
  .menu-burger ul img {
    width: 2%;
    position: absolute;
    top: 20px;
    right: 30px; }

.active {
  display: none; }

/*----- SECTION CARROUSEL ---------------*/
@font-face {
  font-family: 'icomoon';
  src: url("/assets/fonts/icomoon.eot?40hhjl");
  src: url("/assets/fonts/icomoon.eot?40hhjl#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.ttf?40hhjl") format("truetype"), url("/assets/fonts/icomoon.woff?40hhjl") format("woff"), url("/assets/fonts/icomoon.svg?40hhjl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change /assets/fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-rond:before {
  content: "\e900"; }

.icon-down-arrow:before {
  content: "\e901"; }

.icon-icon:before {
  content: "\e902"; }

.icon-wifi:before {
  content: "\e903"; }

.icon-swimming-silhouette:before {
  content: "\e904"; }

.icon-parking-sign:before {
  content: "\e905"; }

.icon-plate-fork-and-knife:before {
  content: "\e906"; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

.recent-parution .visible {
  display: block; }

[class*="cover-"] {
  display: none; }

.cover-infos {
  display: none; }

.prev {
  float: left; }

.next {
  float: right; }

.buttons_carousel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
  padding: 25% 20%; }
  @media only screen and (max-width: 750px) {
    .buttons_carousel {
      padding: 35% 5% 0; } }
  @media only screen and (max-width: 450px) {
    .buttons_carousel {
      padding: 55% 0 0; } }

.buttons_carousel i {
  font-size: 50px;
  transform: rotate(90deg);
  cursor: pointer;
  margin-bottom: 15%;
  color: #000; }
  @media only screen and (max-width: 750px) {
    .buttons_carousel i {
      font-size: 55px; } }

.buttons_carousel .right {
  transform: rotate(-90deg); }

[class*="cover-"] img {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  min-height: 261px; }

/*image de fond*/
.full-img {
  position: relative;
  width: 100%;
  transition: 0.4s; }
  @media only screen and (max-width: 750px) {
    .full-img {
      height: auto; } }
  .full-img img {
    display: block;
    width: 100%;
    max-height: 100vh; }
  .full-img div.test_a {
    position: absolute;
    top: 0;
    left: 0; }

.carrousel-actu [class*='-actu'] {
  display: none; }
.carrousel-actu .visible {
  display: block; }

.test-a {
  position: absolute;
  bottom: 0;
  left: 0; }

.carrousel-actu > div {
  position: relative; }

@media only screen and (max-width: 450px) {
  section.carrousel-actu {
    padding-bottom: 45px; } }
section.carrousel-actu h2 {
  text-align: center;
  padding-top: 22%;
  margin: 0 10%;
  font-size: 64px; }
  @media only screen and (max-width: 750px) {
    section.carrousel-actu h2 {
      font-size: 45px;
      padding: 15%; } }
  @media only screen and (max-width: 450px) {
    section.carrousel-actu h2 {
      font-size: 35px; } }
  section.carrousel-actu h2 a {
    color: #fff; }
section.carrousel-actu .slider-bars {
  position: absolute;
  left: 35%;
  bottom: 2%; }
  @media only screen and (max-width: 750px) {
    section.carrousel-actu .slider-bars {
      display: none; } }
  section.carrousel-actu .slider-bars .slider-bar {
    display: inline-block;
    width: 70px;
    transition: 0.4s;
    height: 8px;
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
    margin-right: 10px; }
    section.carrousel-actu .slider-bars .slider-bar:first-child {
      background: #15D1E7; }

.second-actu,
.third-actu,
.fourth-actu {
  display: none; }

/*----- SECTION PARUTIONS ---------------*/
section.recent-parution {
  height: 450px;
  padding: 3%;
  position: relative;
  margin-bottom: 300px; }
  section.recent-parution h2 {
    text-align: center;
    margin-bottom: 50px; }
  section.recent-parution .cover-infos {
    background: #fff;
    padding: 3%;
    max-width: 600px;
    margin: -10px auto 0; }
    @media only screen and (max-width: 750px) {
      section.recent-parution .cover-infos {
        margin: 10px auto 0; } }
    section.recent-parution .cover-infos .infos-left {
      float: left;
      margin-left: 10%; }
      section.recent-parution .cover-infos .infos-left p:first-child {
        font-weight: bold;
        font-size: 30px; }
      @media only screen and (max-width: 450px) {
        section.recent-parution .cover-infos .infos-left {
          float: none;
          margin-left: 10px; } }
    section.recent-parution .cover-infos .infos-right {
      float: right;
      margin-right: 10%; }
      section.recent-parution .cover-infos .infos-right p:first-child {
        font-size: 24px; }
      section.recent-parution .cover-infos .infos-right p:nth-child(2n) {
        font-weight: bold; }
      @media only screen and (max-width: 750px) {
        section.recent-parution .cover-infos .infos-right {
          float: none;
          margin: 40px 10px; } }
    section.recent-parution .cover-infos .button-command {
      clear: both;
      max-width: 200px;
      margin: 30px auto; }
      section.recent-parution .cover-infos .button-command a {
        width: 150px;
        float: left;
        text-align: center;
        color: #fff;
        background: #15D1E7;
        font-weight: bold;
        padding: 7%;
        border-radius: 20px; }

/*----- À PROPOS ---------------*/
section.about > div {
  margin-bottom: 100px; }
section.about img {
  margin-bottom: 40px; }
section.about p {
  margin-top: 15px;
  font-size: 20px;
  line-height: 150%; }
section.about h2 {
  position: absolute;
  padding-left: 2%;
  font-size: 50px;
  width: 30%; }
  @media only screen and (max-width: 450px) {
    section.about h2 {
      font-size: 30px; } }
section.about img {
  display: block;
  max-width: 100%; }
section.about .text {
  width: 50%;
  padding-top: 10%; }
  @media only screen and (max-width: 750px) {
    section.about .text {
      width: 100%;
      padding-top: 0; } }
section.about div.introduction {
  position: relative;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 750px) {
    section.about div.introduction {
      display: block;
      width: 100%; } }
  section.about div.introduction h2 {
    left: 250px;
    top: 155px;
    border-left: 6px solid #15D1E7;
    height: 170px; }
    @media only screen and (max-width: 450px) {
      section.about div.introduction h2 {
        width: 70%;
        position: static;
        margin: 10px 0 0;
        transform: translate(20%, 360%);
        border-left: none;
        height: auto;
        border-bottom: 2px solid #15D1E7; } }
section.about div.approach {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: relative; }
  section.about div.approach h2 {
    top: 100px;
    right: 40px;
    border-right: 6px solid #15D1E7;
    height: 170px; }
    @media only screen and (max-width: 750px) {
      section.about div.approach h2 {
        position: static;
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 2px solid #15D1E7;
        transform: translateY(-300%); } }
  @media only screen and (max-width: 750px) {
    section.about div.approach {
      display: block;
      width: 100%; } }

div.presence {
  display: flex;
  justify-content: space-between;
  position: relative; }
  @media only screen and (max-width: 750px) {
    div.presence {
      display: block;
      width: 100%; } }
  div.presence h2 {
    top: 20%;
    left: 0;
    border-left: 6px solid #15D1E7;
    height: 350px; }
    @media only screen and (max-width: 450px) {
      div.presence h2 {
        position: static;
        height: auto;
        width: 100%;
        transform: translateY(-330%);
        border-left: none;
        border-bottom: 2px solid #15D1E7; } }

/******** SECTION COMMANDER *******/
.title-abonnement {
  text-align: center;
  padding: 3%; }
  @media only screen and (max-width: 750px) {
    .title-abonnement {
      padding-top: 8%; } }
  @media only screen and (max-width: 450px) {
    .title-abonnement {
      padding-top: 14%; } }

section.command-form,
.price {
  margin: 1% 0;
  padding: 2%;
  background: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.11);
  border-bottom: 4px solid #15D1E7; }

section.command-form {
  float: left;
  width: 65%;
  padding-bottom: 7%; }
  @media only screen and (max-width: 900px) {
    section.command-form {
      width: 100%;
      margin-top: 8%; } }
  @media only screen and (max-width: 750px) {
    section.command-form {
      margin-top: 10%; } }
  section.command-form label {
    display: block;
    margin-top: 5%; }
    section.command-form label input {
      float: right;
      width: 63%;
      height: 25px;
      background: #D8D8D8;
      border: none; }
  section.command-form div.button-form {
    text-align: center;
    margin-top: 10%; }
    section.command-form div.button-form .button-send {
      text-align: center;
      padding: 10px 100px;
      background: #15D1E7;
      clear: both;
      color: #fff;
      border-radius: 30px; }

section.price {
  clear: both;
  width: 100%; }
  section.price table {
    width: 100%; }
    section.price table td {
      padding: 2%;
      width: 22%;
      border: 1px solid #000; }
      @media only screen and (max-width: 450px) {
        section.price table td {
          padding: 1%; } }
      section.price table td:first-child {
        font-weight: bold;
        width: 15%; }
    section.price table th {
      border: 1px solid black; }
    @media only screen and (max-width: 450px) {
      section.price table {
        width: 0; } }
  section.price .tab span {
    font-weight: bold;
    margin-right: 5%;
    color: #000; }
  section.price .swiss {
    display: none; }

@media only screen and (max-width: 900px) {
  .img-commande {
    text-align: center; } }
.img-commande img {
  float: left;
  margin: 1% 0;
  width: 35%; }
  @media only screen and (max-width: 900px) {
    .img-commande img {
      width: 50%;
      float: none; } }
  @media only screen and (max-width: 450px) {
    .img-commande img {
      width: 100%; } }

.title-contact {
  text-align: center;
  padding: 3%; }
  @media only screen and (max-width: 750px) {
    .title-contact {
      padding-top: 13%; } }
  @media only screen and (max-width: 450px) {
    .title-contact {
      padding-top: 14%; } }

section.contact-form {
  padding-bottom: 2%;
  width: 90%;
  margin: 0 auto;
  padding: 2%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.11); }
  section.contact-form label {
    display: block;
    margin-top: 5%; }
    section.contact-form label input {
      float: right;
      width: 63%;
      height: 25px;
      background: #D8D8D8;
      border: none; }
  section.contact-form div.button-form {
    text-align: center;
    margin-top: 8%;
    padding-bottom: 3%; }
    section.contact-form div.button-form .button-send {
      text-align: center;
      padding: 10px 100px;
      background: #15D1E7;
      clear: both;
      color: #fff;
      border-radius: 30px; }

/**** PAGE D'UNE SEULE ACTU ******/
div.actu-title {
  position: relative;
  margin-top: 3%; }
  div.actu-title img {
    width: 100%;
    border-bottom: 3px solid #15D1E7;
    max-height: 500px; }
    @media only screen and (max-width: 750px) {
      div.actu-title img {
        height: 400px; } }
    @media only screen and (max-width: 450px) {
      div.actu-title img {
        height: 300px; } }
  div.actu-title h2 {
    position: absolute;
    bottom: 30%;
    left: 10%;
    width: 80%;
    text-align: center;
    font-size: 55px;
    color: #fff; }
    @media only screen and (max-width: 750px) {
      div.actu-title h2 {
        font-size: 40px; } }
    @media only screen and (max-width: 450px) {
      div.actu-title h2 {
        position: inherit;
        color: #000;
        width: 100%;
        margin: 0;
        font-size: 25px;
        left: 0; } }

div.actu-content {
  padding: 2%; }
  div.actu-content .actu-date {
    text-transform: uppercase;
    float: left; }
    @media only screen and (max-width: 450px) {
      div.actu-content .actu-date {
        width: 100%;
        text-align: center; } }
  div.actu-content .socials {
    float: right;
    margin-bottom: 3%; }
    @media only screen and (max-width: 450px) {
      div.actu-content .socials {
        width: 100%;
        text-align: center;
        margin-top: 3%; } }
    div.actu-content .socials p {
      text-transform: uppercase;
      float: left; }
    div.actu-content .socials img {
      margin: 0 10px; }
      @media only screen and (max-width: 450px) {
        div.actu-content .socials img {
          float: right; } }
  div.actu-content .actu-text {
    clear: both;
    margin-bottom: 3%; }
    @media only screen and (max-width: 450px) {
      div.actu-content .actu-text {
        margin-bottom: 8%; } }
    div.actu-content .actu-text p {
      text-align: justify;
      line-height: 24px;
      font-size: 18px; }
  div.actu-content .actu-button {
    text-align: center; }
    div.actu-content .actu-button a {
      color: #fff;
      padding: 10px 100px;
      background: #15D1E7;
      border-radius: 30px; }
      @media only screen and (max-width: 450px) {
        div.actu-content .actu-button a {
          padding: 10px 50px; } }

/**** PAGE 404 ******/
div.error404 {
  text-align: center;
  margin-top: 2%; }
  @media only screen and (max-width: 750px) {
    div.error404 {
      margin-top: 10%; } }
  @media only screen and (max-width: 450px) {
    div.error404 {
      margin-top: 25%; } }
  div.error404 h2 {
    font-size: 55px; }
  div.error404 img {
    max-width: 40%; }
    @media only screen and (max-width: 750px) {
      div.error404 img {
        max-width: 60%; } }
  @media only screen and (max-width: 750px) and (max-width: 750px) {
    div.error404 img {
      max-width: 90%; } }

  div.error404 p {
    font-size: 20px;
    width: 90%;
    margin: 20px auto; }
  div.error404 a {
    color: #fff;
    background: #15D1E7;
    padding: 10px 100px;
    border-radius: 20px;
    text-transform: uppercase; }

/***** IFRAME DU PARTENAIRE *****/
div.appel-offre {
  margin-top: 20px; }
  div.appel-offre iframe {
    width: 100%;
    height: 1000px; }

/*----- FOOTER---------------*/
footer {
  clear: both;
  background: #000;
  margin-top: 50px;
  display: flex;
  padding: 5% 5%;
  justify-content: space-around;
  bottom: 0;
  width: 100%; }
  footer h3,
  footer p {
    color: #fff; }
  footer .mentions {
    width: 50%; }
    footer .mentions h3 {
      margin-bottom: 10px; }
    footer .mentions p {
      margin: 5px; }
  footer .footer-logo img {
    width: 100%; }

/*# sourceMappingURL=index.css.map */
