<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Larchitecture</title>
    <link rel="stylesheet" href="assets/styles/css/index.css">
    <link rel="stylesheet" href="assets/styles/css/jquery.fullpage.min.css">

</head>

<body>
    <header>
        <nav class="main-nav page">
            <span class="bar"></span>
            <ul>
                <li class="li-active"><a href="#" class="black">Accueil</a></li>
                <li class="li-active"><a href="#" class="black">Revues</a></li>
                <li class="li-active"><a href="#" class="black">Commandes</a></li>
                <li>
                    <a href="#"><img src="assets/img-layout/black-logo.svg" class="logo"></a>
                </li>
                <li class="li-active"><a href="#" class="black">Appel d'offre</a></li>
                <li class="li-active"><a href="#" class="black">Actualités</a></li>
                <li class="li-active"><a href="#" class="black">Contact</a></li>
            </ul>

            <h1>Toute l’actualité de l’architecture et de la construction</h1>
        </nav>
        <div class="burger">
            <div class="burger-slice black"></div>
            <div class="burger-slice black"></div>
            <div class="burger-slice black"></div>
        </div>

        <div class="menu-burger active">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Revues</a></li>
                <li><a href="#">Commandes</a></li>
                <li><a href="#">Appel d'offre</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="#">Contact</a></li>
                <li><img src="assets/img-layout/multiply.svg" class="cross">
            </ul>
        </div>
    </header>
    <body>
        <div class="error404">
            <h2>Erreur 404</h2> 
            <img src="assets/img-content/404.jpg">
            <p>Vous vous êtes perdu ! La page que vous demandez n'existe pas ou plus.</p>
            <p>Revenez vers la<p>
            <a href="#">lumière</a>
        </div>
    <script src="assets/js/script.js"></script>
    </body>