<head>
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<h1>Tu es sur le panel admin</h1>
<ul>
{% for magazine in magazines  %}
    <li><a href="/admin/{{ magazine.id }}" >{{ magazine.title }}</a></li>
    <a href="/admin/{{ magazine.id }}/delete">Delete</a>
{% endfor %}
</ul>