{% extends "layout_admin.html.twig" %}

{% block body %}

<h1>Tu es sur le panel admin</h1>
<ul>
{% for magazine in magazines  %}
    <li><a href="/admin/{{ magazine.id }}" >{{ magazine.title }}</a></li>
    <a href="/admin/{{ magazine.id }}/delete">Delete</a>
{% endfor %}
    <a href="/admin/add">Ajout d'un Magazine</a>
</ul>
{% endblock %}