{% extends 'layout_front.html.twig' %}
{% block body_nav  %}
<body class="julie">
{% endblock %}
{% block body %}
    <div class="appel-offre">
        <iframe src="{{ offer.link }}" frameborder=0><iframe>
    </div>
{% endblock %}