{% extends 'layout_front.html.twig' %}
{% block title %}larchitecture.com, Partenaire{% endblock %}
{% block meta_description %}Appel d'offre, partenaire principal{% endblock %}
{% block body %}
    <div class="appel-offre">
        <iframe src="{{ offer.link }}" frameborder=0><iframe>
    </div>
{% endblock %}