<h1>Ceci est le form d'ajout d'un Magazine</h1>

<form action="" method="post" enctype="multipart/form-data">
    <label for="title">
        <p>Titre</p>
        <input type="text" value="" name="title">
    </label>
    <label for="synopsis">
        <p>Description</p>
        <input type="text" value="" name="synopsis">
    </label>
    <label for="image">
        <p>Image</p>
        <input type="file" value="" name="image">
    </label>
    <label for="">
        <p>Image Secondaire (si nécessaire)</p>
        <input type="file" name="image_secondaire">
    </label>
    <label for="date">
        <p>Date</p>
        <input type="text" value="" name="date">
    </label>
    <label for="link">
        <p>URL</p>
        <input type="text" value="" name="link">
    </label>
    <label for="">
        <p>Localisation</p>
        <input type="text" name="localisation">
    </label>
    <label for="">
        <p>Localisation secondaire</p>
        <input type="text" name="localisation_secondaire">
    </label>
    <input type="submit">
</form>