{% extends 'layout_front.html.twig' %}

{% block body %}
<div class="title-contact"><h2>Nous contacter</h2></div>
<section class="contact-form">
    <form action="" method="post" accept-charset="utf-8">
        <label>Raison sociale
            <input type="text" name="raison_sociale" value="">
        </label>
        <label>Nom
            <input type="text" name="nom" value="">
        </label>
        <label>Objet du Message
            <input type="text" name="object" value="">
        </label>
        <label>Téléphone
            <input type="text" name="telephone" value="">
        </label>
        <label>Adresse e-mail
            <input type="text" name="mail" value="">
        </label>

        <label>Service
            <select id=""  name="service">
                <option value="commerciale">commerciale</option>
                <option value="redactionnel/publicite">redactionnel/publicite</option>
                <option value="administratif/comptabilite">administratif/comptabilite</option>
                <option value="direction">direction</option>
            </select>
        </label>
        <label>Message
            <textarea name="message" id="" cols="30" rows="10"></textarea>
        </label>
        <div class="button-form">
            <input type="submit" value="Envoyer" class="button-send">
        </div>
    </form>
</section>
{% endblock %}

{% block scripts %}
{#<script src="/assets/js/app.js"></script>#}
{% endblock %}