<h1>Ceci est le formulaire de Contact</h1>

<form action="" method="post"  enctype="multipart/form-data">
    <p>
        <label for="raison_sociale">Titre</label>
        <input type="text" value="" name="raison_sociale">
    </p>
    <p>
        <label for="nom">Description</label>
        <input type="text" value="" name="nom">
    </p>
    <p>
        <label for="telephone">telephone</label>
        <input type="text" value="" name="telephone">
    </p>
    <p>
        <label for="mail">mail</label>
        <input type="text" value="" name="mail">
    </p>
    <p>
        <label>Service</label>
        <select id=""  name="service">
            <option value="commerciale">commerciale</option>
            <option value="redactionnel/publicite">redactionnel/publicite</option>
            <option value="administratif/comptabilite">administratif/comptabilite</option>
            <option value="direction">direction</option>
        </select>
    </p>
    <p for="message">
        <label>message</label>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
    </p>
    <input type="reset" value="effacer">
    <input type="submit" value="envoyer">
</form>