<h1>Ceci est le formulaire de Contact</h1>

<form action="" method="post"  enctype="multipart/form-data">
    <label for="raison_sociale">
        <p>Titre</p>
        <input type="text" value="" name="raison_sociale">
    </label>
    <label for="nom">
        <p>Description</p>
        <input type="text" value="" name="nom">
    </label>
    <label for="telephone">
        <p>telephone</p>
        <input type="file" value="" name="telephone">
    </label>
    <label for="mail">
        <p>mail</p>
        <input type="text" value="" name="mail">
    </label>
    <label for="service">
        <p>Service</p>
        <select name="" id=""  name="service">
            <option value="commerciale">commerciale</option>
            <option value="redactionnel/publicite">redactionnel/publicite</option>
            <option value="administratif/comptabilite">administratif/comptabilite</option>
            <option value="direction">direction</option>
        </select>
    </label>
    <label for="message">
        <p>message</p>
        <textarea name="message" id="" cols="30" rows="10"></textarea>
    </label>
    <input type="reset" value="effacer">
    <input type="submit" value="envoyer">
</form>