<body>
<h1>Ceci est le formulaire de Commande</h1>

<form action="" method="post"  enctype="multipart/form-data">
    <p>
        <label for="raison_sociale">Titre</label>
        <input type="text" value="" name="raison_sociale">
    </p>
    <p>
        <label for="activite">Activité</label>
        <input type="text" value="" name="activite">
    </p>
    <p>
        <label for="nom">Nom</label>
        <input type="text" value="" name="nom">
    </p>
    <p>
        <label for="prenom">Prénom</label>
        <input type="text" value="" name="prenom">
    </p>
    <p>
        <label for="fonction">Fonction</label>
        <input type="text" value="" name="fonction">
    </p>
    <p>
        <label for="adresse">Adresse</label>
        <input type="text" value="" name="adresse">
    </p>
    <p>
        <label for="code_postal">Code postal</label>
        <input type="text" value="" name="code_postal">
    </p>
    <p>
        <label for="ville">Ville</label>
        <input type="text" value="" name="ville">
    </p>
    <p>
        <label for="pays">Pays</label>
        <input type="text" value="" name="pays">
    </p>
    <p>
        <label for="telephone">telephone</label>
        <input type="text" value="" name="telephone">
    </p>
    <p>
        <label for="fax">Fax</label>
        <input type="text" value="" name="fax">
    </p>
    <p>
        <label for="mail">mail</label>
        <input type="email" value="" name="mail">
    </p>
    <p>
        <label>Zone Géographique</label>
        <select id=""  name="zone_geographique">
            <option value="france_metropolitaine">France Métropolitaine</option>
            <option value="europe">Europe</option>
            <option value="dom">DOM</option>
            <option value="tom">TOM</option>
        </select>
    </p>
    <p>
        <label>Chooix de la revue</label>
        <select id=""  name="revue">
            <option value="280">280</option>
            <option value="281">281</option>
            <option value="282">282</option>
            <option value="283">283</option>
            <option value="284">284</option>
            <option value="285">285</option>
            <option value="275">275</option>
            <option value="276">276</option>
            <option value="277">277</option>
            <option value="278">278</option>
        </select>
    </p>
    <p>
        <label>Choix de la revue</label>
        <select id=""  name="quantite">
            <option value="1">1</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
        </select>
    </p>
    <input type="reset" value="effacer">
    <input type="submit" value="envoyer">
</form>
<footer>

</footer>
</body>
