{% extends "layout_admin.html.twig" %}


{% block body %}
<h1>Ajouter un Magazine</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="title">
            <label for="">Titre</label>
            <input type="text" name="title">
        </div>
        <div class="synopsis">
            <label for="">Synopsis</label>
            <textarea type="text" name="synopsis"></textarea>
            <label for="">Numéro du Magazine</label>
            <input type="number" name="number">
        </div>
        <div class="images">
            <div class="image_primary">
                <label for="">Image Primaire</label>
                <input type="file" name="image">
            </div>
            <div class="image_secondary">
                <label for="">Image Secondaire (si nécessaire)</label>
                <input type="file" name="image_secondaire">
            </div>
        </div>
        <div class="images">
            <div class="image_primary">
                <label for="">Alternative Première Image</label>
                <input type="text" name="alt">
            </div>
            <div class="image_secondary">
                <label for="">Alternative Image Secondaire (si nécessaire)</label>
                <input type="text" name="secondary_alt">
            </div>
        </div>
        <div class="test">
            <div class="date">
                <label for="">Année de parution</label>
                <input type="text" name="date">
            </div>
            <div class="link">
                <label for="">Lien PDF</label>
                <input type="text" name="link">
            </div>
        </div>
        <div class="location">
            <div class="localisation_primaire">
                <label for="">Localisation</label>
                <input type="text" name="localisation">
            </div>
            <div class="localisation_secondaire">
                <label for="">Localisation Secondaire (si nécessaire)</label>
                <input type="text" name="localisation_secondaire">
            </div>
        </div>
        <input type="submit" value="Ajouter" class="btn btn-default">
    </form>
{% endblock %}