{% extends "layout_front.html.twig" %}
{% block body_nav  %}
<body class="julie">
{% endblock %}
    {% block body %}
        <section class="command-form">
            <form action="commande_submit" method="get" accept-charset="utf-8">
                <label>Raison sociale
                    <input type="text" name="raison_sociale" value="">
                </label>
                <label>Activité
                    <input type="text" name="activite" value="">
                </label>
                <label>Nom
                    <input type="text" name="nom" value="">
                </label>
                <label>Prénom
                    <input type="text" name="prenom" value="">
                </label>
                <label>Fonction
                    <input type="text" name="fonction" value="">
                </label>
                <label>Adresse
                    <input type="text" name="adresse" value="">
                </label>
                <label>Code postal
                    <input type="text" name="code_postal" value="">
                </label>
                <label>Ville
                    <input type="text" name="ville" value="">
                </label>
                <label>Pays
                    <input type="text" name="pays" value="">
                </label>
                <label>Téléphone
                    <input type="text" name="telephone" value="">
                </label>
                <label>Fax
                    <input type="text" name="fax" value="">
                </label>
                <label>Adresse e-mail
                    <input type="text" name="mail" value="">
                </label>
                <label>Confirmez l'e-mail
                    <input type="text" name="e-mail" value="">
                </label>
                <label>Zone Géographique
                <span class="selectRevue">
                    <select id=""  name="zone_geographique" class="revueSelect">
                    <option value="france_metropolitaine">France Métropolitaine</option>
                    <option value="europe">Europe</option>
                    <option value="dom">DOM</option>
                    <option value="tom">TOM</option>
                </select>
                </span>
                </label>
                <label>Choix de la revue
                <div class="selectRevue">
                    <select class="revueSelect"  name="revue">
                        <option value="280">280</option>
                        <option value="281">281</option>
                        <option value="282">282</option>
                        <option value="283">283</option>
                        <option value="284">284</option>
                        <option value="285">285</option>
                        <option value="275">275</option>
                        <option value="276">276</option>
                        <option value="277">277</option>
                        <option value="278">278</option>
                    </select>
                </div>
                </label>
                <label>Quantité
                <span class="selectRevue">
                    <select id=""  name="quantite" class="revueSelect">
                    <option value="1">1</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                </select>
                </span>
                </label>
                <div class="button-form">
                    <input type="submit" class="button-send" value="Envoyer">
                </div>
            </form>
        </section>
        <div class="img-commande">
        </div>
        <section class="price">
            <div class="tab">
                <span>Tarifs en euros</span>
                <span>Taris en francs suisses</span>
            </div>

            <table class="euro">
                <tr>
                    <th class="test">Quantité</th>
                    <th>5</th>
                    <th>10</th>
                    <th>20</th>
                </tr>
                <tr>
                    <td class="test">France</td>
                    <td>75 € + 30 € (frais de port)</td>
                    <td>155 € + 30 € (frais de port)</td>
                    <td>240 € + 60 € (frais de port)</td>
                </tr>
                <tr>
                    <td class="test">DOM</td>
                    <td>75 € + 30 € (frais de port)</td>
                    <td>155 € + 30 € (frais de port)</td>
                    <td>240 € + 60 € (frais de port)</td>
                </tr>
                <tr>
                    <td class="test">TOM</td>
                    <td>75 € + 30 € (frais de port)</td>
                    <td>155 € + 30 € (frais de port)</td>
                    <td>240 € + 60 € (frais de port)</td>
                </tr>
                <tr>
                    <td class="test">Étranger</td>
                    <td>75 € + 30 € (frais de port)</td>
                    <td>155 € + 30 € (frais de port)</td>
                    <td>240 € + 60 € (frais de port)</td>
                </tr>
            </table>

            <table class="swiss">
                <tr>
                    <th class="test">Quantité</th>
                    <th>5</th>
                    <th>10</th>
                    <th>20</th>
                </tr>
                <tr>
                    <td class="test">France</td>
                    <td>90.75 CHF + 18.15 CHF (frais de port)</td>
                    <td>187.55 CHF + 36.30 CHF (frais de port)</td>
                    <td>290.40 CHF + 72.60 CHF (frais de port)</td>
                </tr>
                <tr>
                    <td class="test">DOM</td>
                    <td>90.75 CHF + 36.3 CHF *</td>
                    <td>187.55 CHF + 72.6 CHF *</td>
                    <td>290.4 CHF + 96.8 CHF *</td>
                </tr>
                <tr>
                    <td class="test">TOM</td>
                    <td>90.75 CHF + 54.45 CHF *</td>
                    <td>187.55 CHF + 102.85 CHF *</td>
                    <td>290.40 CHF + 157.30 CHF *</td>
                </tr>
                <tr>
                    <td class="test">Étranger</td>
                    <td>90.75 CHF + 15 CHF *</td>
                    <td>87.55 CHF + 36.3 CHF *</td>
                    <td>290.4 CHF + 72.6 CHF *</td>
                </tr>
            </table>
        </section>
    {% endblock %}
{% block scripts %}
<script src="assets/js/script.js"></script>
{% endblock %}