<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Page Admin{% endblock %}</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <style>
        .table-cell{
            vertical-align: middle;
        }

        .table img {
            display: block;
            width:100px;
            height: 100px;
        }
    </style>
</head>
<body>
<header>
    <a href="/">Retour au site</a>
</header>
<aside>
    <nav>
        <a href="/admin/">Home</a>
        <a href="/admin/">Magazines</a>
        <a href="/admin/add" class="is_child">Ajouter un Magazine</a>
        <a href="/admin/actualites">Actualités</a>
        <a href="/admin/actualites/add" class="is_child">Nouvelle Actualité</a>
        <a href="/admin/contact">Messages</a>
        <a href="/admin/partenaires">Partenaires</a>
        <a href="/admin/commandes">Commandes</a>
    </nav>
</aside>
<main>
{% block body %}
{% endblock %}
</main>

</body>
</html>