<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Page Admin{% endblock %}</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <style>
        .table-cell{
            vertical-align: middle;
        }

        .table img {
            display: block;
            width:100px;
            height: 100px;
        }

        h1 {
            font-family: Arial;
        }

        .table-head .table-cell {
            font-family: Arial;
            font-size: 1.2em;
            color: #025aa5;
        }

        .table a {
            color : #0000EE;
        }

        .btn {
            display: inline-block;
            font-weight: 400;
            line-height: 1.25;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .5rem 1rem;
            font-size: 14px;
            border-radius: .25rem;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

        form {
            width: 70%;
            margin: 0 auto;
        }

        form input {
            display: block;
            margin: 10px 0 20px;
        }

        form label {
            font-size: 20px;
        }

        .title input {
            width: 100%;
            font-size: 18px;
            font-weight: 700;
            padding: 5px;
        }

        .synopsis textarea {
            display: block;
            width: 100%;
            font-size: 16px;
            margin: 10px 0 20px;
            padding: 10px;
        }

        .actuNews {
            padding-top: 1%;
        }

        .images div {
            float: left;
            width: 50%;
        }

        .test {
            clear: both;
        }

        .test div {
            float: left;
            width: 50%;
        }

        .location {
            clear: both;
        }

        .location div {
            float: left;
            width: 50%;
        }

        input[type="submit"] {
            display: block;
            width: 200px;
            text-transform: uppercase;
            margin: 150px auto auto auto;
            cursor: pointer;
            padding: 20px 20px;
        }

        input.actuInput {
            display: block;
            width: 200px;
            text-transform: uppercase;
            margin: 50px auto auto auto;
            cursor: pointer;
            padding: 20px 20px;
        }

        .informations {
            font-size: 18px;
            padding-left: 20px;
        }

        .informations div {
            margin: 10px 0;
        }

        .informations p {
            margin: 10px 0;
        }

        .informations .label_message {
            margin: 40px 0 20px;
        }


        .contact_infos  {
            display: flex;
            justify-content: space-around;
        }

        h1 span {
            border-bottom: 2px solid black;
        }
    </style>
</head>
<body>
<aside>
    <nav>
        <a href="/" class="home">Retour au site</a>
        <a href="/admin/">Home</a>
        <a href="/admin/">Liste des Magazines</a>
        <a href="/admin/add" class="is_child">Ajouter un Magazine</a>
        <a href="/admin/actualites">Liste des Actualités</a>
        <a href="/admin/actualites/add" class="is_child">Ajouter une Actualité</a>
        <a href="/admin/contact">Messages</a>
        <a href="/admin/partenaires">Partenaires</a>
        <a href="/admin/commandes">Commandes</a>
    </nav>
</aside>
<main>
{% block body %}
{% endblock %}
</main>

</body>
</html>