<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Larchitecture</title>
    <link rel="stylesheet" href="../public/assets/styles/css/index.css">
    <link rel="stylesheet" href="assets/styles/css/jquery.fullpage.min.css">

</head>

<body>
    <header>
        <nav class="main-nav page">
            <span class="bar"></span>
            <ul>
                <li class="li-active"><a href="#" class="black">Accueil</a></li>
                <li class="li-active"><a href="#" class="black">Revues</a></li>
                <li class="li-active"><a href="#" class="black">Commandes</a></li>
                <li>
                    <a href="#"><img src="../public/assets/img-layout/black-logo.svg" class="logo"></a>
                </li>
                <li class="li-active"><a href="#" class="black">Appel d'offre</a></li>
                <li class="li-active"><a href="#" class="black">Actualités</a></li>
                <li class="li-active"><a href="#" class="black">Contact</a></li>
            </ul>

            <h1>Toute l’actualité de l’architecture et de la construction</h1>
        </nav>
        <div class="burger">
            <div class="burger-slice black"></div>
            <div class="burger-slice black"></div>
            <div class="burger-slice black"></div>
        </div>

        <div class="menu-burger active">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Revues</a></li>
                <li><a href="#">Commandes</a></li>
                <li><a href="#">Appel d'offre</a></li>
                <li><a href="#">Actualités</a></li>
                <li><a href="#">Contact</a></li>
                <li><img src="assets/img-layout/multiply.svg" class="cross">
            </ul>
        </div>
    </header>

    <body>
        <main>
            <section class="actu">
                <div class="actu-title">
                    <img src="../public/assets/img-content/actu-1.png">
                    <h2>Aren’Ice, le temple des loisirs de glace conçu par Chabanne & Partenaires</h2>
                </div>
                <div class="actu-content">
                    <div class="actu-date">
                        Le 26 décembre 2016
                    </div>
                    <div class="socials">
                        <p>Partager sur</p>
                        <span><img src="../public/assets/img-layout/facebook.svg">
                        <img src="../public/assets/img-layout/twitter.svg"></span>
                    </div>
                    <div class="actu-text clearfix">
                        <p>Le bâtiment contemporain s’apparente à un iceberg, avec une toiture semblable à une couche de neige, éclairé par des lames vitrées. Véritable temple du hockey et des sports sur glace, le lieu entend aussi accueillir des concerts, des compétitions de tennis ou de basket et des combats de boxe. Le complexe se compose de deux patinoires de 1800 m2 et d’une salle de spectacle modulable de 4500 sièges. Il s’inscrit dans un projet d’aménagement du quartier dédié au sport et au bien-être, dans une ville jeune et dynamique.</p>
                    </div>
                    <div class="actu-button">
                        <a href="#">S'abonner à la newsletter</a>
                    </div>
                </div>
            </section>
        </main>
   <footer>
        <div class="mentions">
            <h3>Mentions légales</h3>
            <p>Groupe SOFRE&COM</p>
            <p>Société Française d’Édition et de Communication</p>
            <p>9/11 rue Jacquard</p>
            <p>93315 Le Pré Saint Gervais cedex</p>
            <p>France</p>
        </div>
        <div class="footer-logo">
            <img src="assets/img-layout/logo.svg">
        </div>
    </footer>


</body>
<script src="../public/assets/js/burger.js"></script>
<script src="../public/assets/js/nav.js"></script>

</html>