/*----- FONTS---------------*/

@font-face {
    font-family: 'covesbold';
    src: url('../../font/Coves_Bold.otf') format('otf'), url('../../font/Coves_Bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'coveslight';
    src: url('../../font/Coves_Light.otf') format('otf'), url('../../font/Coves_Light.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}


/*----- COMMON -------- */

h1 {
    text-align: center;
    font-size: 13px;
    margin-top: 15px;
    @media only screen and (max-width: $max-mob) {
        text-align: center;
    }
}

body {
    font-family: $font-family;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: #fff;
}

.julie a {
    color: #000;
}


main {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.black {
    color:$black;
}

.white {
    color:$white;
}

