/*----- FOOTER---------------*/

footer {
    clear: both;
    background: #000;
    margin-top: 50px;
    display: flex;
    padding: 5% 5%;
    justify-content: space-around;
    bottom: 0;
    width: 100%;

    h3,
    p {
        color: #fff;
    }
    .mentions {
        width: 50%;
        h3 {
            margin-bottom: 10px;
        }
        p {
            margin: 5px;
        }
    }
    .footer-logo img {
        width: 100%;
    }
}