.view_all {
  max-width: 550px;
  @media only screen and (max-width: $max-tab) {
    max-width: 100%;
  }
}

.parutions_title {
    font-size: 60px;
    text-align: left;
  padding-left: 50px;
  border-left: 6px solid #15D1E7;
  margin-left: 200px; // fictif
  @media only screen and (max-width: $max-tab) {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    font-size: 60px;
  }

}

.view_all a {
  float: right;
  font-size: 22px;
  position: relative;
  &:before {
    content: '>';
    margin-right: 10px;
  }
  &:after {
    content: '';
    width: 80px;
    height: 2px;
    position: absolute;
    bottom: -10px;
    right: 0;
    background: #15D1E7;
    transition: all .5s ease;
  }
  &:hover:after {
    width: 200px;
  }

  @media only screen and (max-width: $max-tab) {
    color: #1a1a1a;
    margin: 40px 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;

    &:after {
      width: 0;
    }
    &:hover:after {
      width: 0;
    }
  }
}

.listing_mags {
  //display: flex;
  //justify-content: space-between;
  //flex-flow: row wrap;
  margin-top: 75px;
}

.listing_mags article {
  width: 18%;
  display: inline-block;
  margin: 0 0 10px 20px;
  vertical-align: top;
  @media only screen and (max-width: $max-tab) {
    width: 30%;
  }

  @media only screen and (max-width: $max-mob) {
    width: 100%;
    display: block;
    margin: 40px auto;
  }
}

article figure {
  position: relative;
  &:hover .hover {
    opacity: 1;
  }
}

.listing_mags img {
  display: block;
  width: 100%;
}



.hover {
  opacity: 0;
  width: 100%;
  position: absolute;
  background: rgba(21,209,231,.9);
  height: 100%;
  padding-top: 50%;
  top: 0;
  left: 0;
  transition: all .5s ease;

  img {
    max-width: 80px;
    margin: 0 auto;
  }


  @media only screen and (max-width: $max-tab) {
    display: none;
  }

}

.listing_mags .button-command {
  display: none;
  width: 120px;
  text-align: center;
  color: #fff;
  background: #15D1E7;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;

  @media only screen and (max-width: $max-tab) {
    display: block;
  }

  @media only screen and (max-width: $max-mob) {
    width: 160px;
  }

  a {
    color: #fff;
  }
}

.toutes_parutions_body h2 {
  text-align: right;
  @media only screen and (max-width: $max-tab) {
    cursor: pointer;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid #15D1E7;
  }
}

.toutes_parutions_body aside {
  float: right;
  width: 20%;
  @media only screen and (max-width: $max-tab) {
    width: 100%;
    float: none;
  }

}

.toutes_parutions {
  float: left;
  width: 55%;
  @media only screen and (max-width: $max-tab) {
    width: 100%;
    float: none;
  }

  article {
    width: 30%;
    @media only screen and (max-width: $max-tab) {
      width: 48%;
    }
    @media only screen and (max-width: $max-mob) {
      width: 100%;
    }
  }
}

.filtres {
  display: none;
  @media only screen and (max-width: $max-tab) {
    display: inline-block;
  }
  &:after {
    content: '>';

  }
}

aside ul li {
  list-style: none;
  text-align: right;
  margin: 10px 0;
  color: #A4A4A4;
  cursor: pointer;

  @media only screen and (max-width: $max-tab) {
    display: inline-block;
    width: 120px;
    padding: 10px;
    margin: 10px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    line-height: 130%;
    background: #15D1E7;
  }

  @media only screen and (max-width: $max-tab) {

    width: 150px;

  }
}

aside ul {
  @media only screen and (max-width: $max-tab) {
    display: none;
    text-align: center;
  }

}

aside ul.visible {
  @media only screen and (max-width: $max-tab) {
    display: inline-block;
  }
}


